In [12]:
PASSWORD = "pass123"
while True:
    password = input("Enter your password: ")
    if password == PASSWORD:
        break
    else:
        print("Password incorrect")
print("Correct password. You are logged in.")

Password incorrect
Correct password. You are logged in.

In [2]:
list1 = ["Hello", "I", "Michel", "am"]
for word in list1:
    print(word)
    
# list1[-2], list1[-1] = list1[-1], list1[-2]
# list1

Hello
I
Michel
am

In [5]:
list1 = ["Hello", "I", "Michel", "am"]
popped_word = list1.pop(2)
list1.append(popped_word)
list1

['Hello', 'I', 'am', 'Michel']

In [20]:
ages = [12, 16, 34, 58, 9]

ages_ascend = sorted(ages)
print(ages_ascend)
reverse_ages = sorted(ages, reverse = True)
print(reverse_ages)

[9, 12, 16, 34, 58]
[58, 34, 16, 12, 9]

In [12]:
age = [12, 16, 34, 58, 9]
age.sort()
print(age)

[9, 12, 16, 34, 58]

In [27]:
import requests
request = requests.get("https://swapi.py4e.com/api//people/1/")
dic = request.json()
dic

{'name': 'Luke Skywalker',
 'height': '172',
 'mass': '77',
 'hair_color': 'blond',
 'skin_color': 'fair',
 'eye_color': 'blue',
 'birth_year': '19BBY',
 'gender': 'male',
 'homeworld': 'https://swapi.py4e.com/api/planets/1/',
 'films': ['https://swapi.py4e.com/api/films/1/',
  'https://swapi.py4e.com/api/films/2/',
  'https://swapi.py4e.com/api/films/3/',
  'https://swapi.py4e.com/api/films/6/',
  'https://swapi.py4e.com/api/films/7/'],
 'species': ['https://swapi.py4e.com/api/species/1/'],
 'vehicles': ['https://swapi.py4e.com/api/vehicles/14/',
  'https://swapi.py4e.com/api/vehicles/30/'],
 'starships': ['https://swapi.py4e.com/api/starships/12/',
  'https://swapi.py4e.com/api/starships/22/'],
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'url': 'https://swapi.py4e.com/api/people/1/'}

In [8]:
output = f"{dic['name']} is {dic['height']} cm tall and weighs {dic['mass']} kg. He was born in {dic['birth_year']}"
print(output)

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY

In [36]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12, 30]
n = len(kilometres_travelled)
sum = 0  

for i in kilometres_travelled:
    sum += i
average = sum / n
print(f"The average distance is {average:.2f} km")

The average distance is 156.00 km

In [4]:
def sqrt(numero):
    return numero ** 0.5 # ** 0.5 calculate the square root

result = sqrt(25)
print(f"The square root of 25 is {result}")

sqrt(100)

The square root of 25 is 5.0

10.0

In [11]:
def calculate_interests(capital, taxa, tempo):
    """
    Calcula os juros simples por ano com validação.
    
    Args:
        capital (float): capital inicial.
        taxa (float): Taxa de juros anual (em porcentagem).
        tempo (float): Tempo em anos.
    
    Returns:
        float: Valor dos juros acumulados.
    
    Raises:
        ValueError: Se capital, taxa ou tempo forem negativos.
    """
    if capital < 0 or taxa < 0 or tempo < 0:
        raise ValueError("capital, taxa e tempo devem ser não negativos")
    
    juros = capital * (taxa / 100) * tempo
    return juros

# Exemplo de uso
try:
    capital = 500
    taxa = 5
    tempo = 2
    juros = calculate_interests(capital, taxa, tempo)
    print(f"Os juros simples são: R${juros:.2f}")
except ValueError as e:
    print(f"Erro: {e}")

Os juros simples são: R$50.00