# Password

In [ ]:
correct_password = 'pass123'
attempted_password = input("Input your password:")

errors = 0
while attempted_password != correct_password and errors < 2:
    print("Password incorrect.")
    errors += 1 # this is equivalent to errors = errors + 1
    attempted_password = input("Input your password:")

if errors >= 2:
    print("You've run out of attempts.")
else:
    print("Correct password!")

Password incorrect.
You've run out of attempts.

and operator boolean

True False


AND
0 and 0 = 0
0 and 1 = 0
1 and 0 = 0
1 and 1 = 1

or
0 and 0 = 0
0 and 1 = 1
1 and 0 = 1
1 and 1 = 1

# Lists

Here is a list ["Hello", "I", "Michel", "am"]

1. Store this list in a variable we'll call michel
2. Make a loop so that the console returns each of the items in the list

In [25]:
michel = ['Hello', 'I', 'Michel', 'am']

for word in michel:
    print(word)

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

In [31]:
test_list = ['Hello', 'I', 'Michel', 'am']

popped_word = test_list.pop(2)
test_list.append(popped_word)
test_list

['Hello', 'I', 'am', 'Michel']

In [36]:
test_list = ['Hello', 'I', 'Michel', 'am']

removed_word = test_list[2]
del(test_list[2])
test_list.append(removed_word)
test_list

['Hello', 'I', 'am', 'Michel']

In [37]:
test_list = ['Hello', 'I', 'Michel', 'am']

removed_word = test_list[2]
last_word = test_list[3]
test_list[2] = last_word
test_list[3] = removed_word
test_list

['Hello', 'I', 'am', 'Michel']

In [39]:
test_list = ['Hello', 'I', 'Michel', 'am']

word_to_insert = 'Robert'
test_list.insert(3, word_to_insert)
test_list

['Hello', 'I', 'Michel', 'Robert', 'am']

Here's a list of ages: [12, 16, 34, 58, 9].

1. Store this age list in a variable that we'll call: 

```
age
```

2. We would like this list to be arranged in ascending order, how do we do that?

In [2]:
ages = [12, 16, 34, 58, 9]

ages.sort()
sorted(ages)
ages

[9, 12, 16, 34, 58]

In [58]:
ages = [12, 16, 34, 58, 9]
sorted(ages)

[9, 12, 16, 34, 58]

In [61]:
ages = [12, 16, 34, 58, 9]
age_to_move = ages.pop(4)
ages.insert(0, age_to_move)
ages

[9, 12, 16, 34, 58]

In [65]:
ages[::-1]

[58, 34, 16, 12, 9]

In [67]:
sorted(ages, reverse=True)

[58, 34, 16, 12, 9]

# Dictionaries

We told you that dictionaries are very useful with APIs, so let's try to use the Star Wars API.

1. In your text editor, write:

```
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()
```
_You don't need to download anything_

2. This will make it possible to call the Star Wars API to store it on a dictionary format in a variable called _dic_.

3. See what's in the dictionary via a loop

4. We'd like to make a nice phrase to describe the character like this: 

`“{{name}} is {{height}} cm tall and weighs {{mass}} kg. He was born in {{birth_year}}”`

In [16]:
import requests
request = requests.get("https://swapi.py4e.com/api//people/1/")
dic = request.json()

In [7]:
print(f"{dic['name']} is {dic['height']} cm tall and weighs {dic['mass']} kg. He was born in {dic['birth_year']}")

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY

In [17]:
dic

{'name': 'Luke Skywalker',
 'height': '172',
 'mass': '77',
 'hair_color': 'blond',
 'skin_color': 'fair',
 'eye_color': 'blue',
 'birth_year': '19BBY',
 'gender': 'male',
 'homeworld': 'https://swapi.py4e.com/api/planets/1/',
 'films': ['https://swapi.py4e.com/api/films/1/',
  'https://swapi.py4e.com/api/films/2/',
  'https://swapi.py4e.com/api/films/3/',
  'https://swapi.py4e.com/api/films/6/',
  'https://swapi.py4e.com/api/films/7/'],
 'species': ['https://swapi.py4e.com/api/species/1/'],
 'vehicles': ['https://swapi.py4e.com/api/vehicles/14/',
  'https://swapi.py4e.com/api/vehicles/30/'],
 'starships': ['https://swapi.py4e.com/api/starships/12/',
  'https://swapi.py4e.com/api/starships/22/'],
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'url': 'https://swapi.py4e.com/api/people/1/'}

In [19]:
for i in range(1, 16):
    # character 0 does not exist, so we start at 1
    request = requests.get(f"https://swapi.py4e.com/api//people/{i}/")
    dic = request.json()

    print(f"{dic['name']} is {dic['height']} cm tall and weighs {dic['mass']} kg.", end=' ')

    if dic['gender'] == 'female':
        print(f"She was born in {dic['birth_year']}")
    else:
        print(f"He was born in {dic['birth_year']}")

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY
C-3PO is 167 cm tall and weighs 75 kg. He was born in 112BBY
R2-D2 is 96 cm tall and weighs 32 kg. He was born in 33BBY
Darth Vader is 202 cm tall and weighs 136 kg. He was born in 41.9BBY
Leia Organa is 150 cm tall and weighs 49 kg. She was born in 19BBY
Owen Lars is 178 cm tall and weighs 120 kg. He was born in 52BBY
Beru Whitesun lars is 165 cm tall and weighs 75 kg. She was born in 47BBY
R5-D4 is 97 cm tall and weighs 32 kg. He was born in unknown
Biggs Darklighter is 183 cm tall and weighs 84 kg. He was born in 24BBY
Obi-Wan Kenobi is 182 cm tall and weighs 77 kg. He was born in 57BBY
Anakin Skywalker is 188 cm tall and weighs 84 kg. He was born in 41.9BBY
Wilhuff Tarkin is 180 cm tall and weighs unknown kg. He was born in 64BBY
Chewbacca is 228 cm tall and weighs 112 kg. He was born in 200BBY
Han Solo is 180 cm tall and weighs 80 kg. He was born in 29BBY
Greedo is 173 cm tall and weighs 74 kg. He was born in 44BBY

# Slices

We have the following dataset: `kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`.
 
1. This variable represents a list of kilometres travelled every morning by 8 users to work.
2. Using a loop, calculate the total average of all the users' trips
3. Is this average representative of what all individuals really go through? Why do you think so?

In [ ]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12, 30]

In [20]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12, 30]

n = len(kilometres_travelled)
sum = 0
for value in kilometres_travelled:
    sum += value

avg = sum / n
print(avg)

156.0

4. Change the variable kilometers_travelled to have a more representative average